// Card styles goes here
.card{
    
    .card-img{
        height: 150px;
        object-fit: cover;
        overflow: hidden;
    }
        img {
          height: auto;
          width: 100%;
        }
      
}