<div class="h-100 main-bg-color">
    <div class="d-flex justify-content-between">
        <div class="d-flex">
            <span class="bi bi-search"></span>
            <input type="text" class="form-control" placeholder="search" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div>
            <select>
                <option>Filter By region</option>
                <option>Filter By region</option>
                <option>Filter By region</option>
            </select>
        </div>
    </div>
</div>