<div class="h-100 main-bg-color p-5">
    <div class="d-flex justify-content-between ">
        <div class="d-flex bg-white p-2 shadow">
            <span class="bi bi-search fs-4"></span>
            <input type="text" class="form-control border-0 shadow-none " placeholder="search" aria-label="Username"
                aria-describedby="basic-addon1">
        </div>
        <div>
            <select class="form-select form-select-lg bg-white border-0 shadow">
                <option>Filter By region</option>
                <option>Filter By region</option>
                <option>Filter By region</option>
            </select>
        </div>
    </div>

    <div class=" d-inline-block me-4 mt-5"  *ngFor="let data of countryList"> 
        <div class="card shadow " >
            <div>
                <figure class="card-img ">
                    <img [src]="data.flags.png"  alt="flag" >
                </figure>
                <div class="card-body">
                    <h5 class="card-title">{{data.name}}</h5>
                    <p class="card-text">Population : {{data.population}}</p>
                    <p class="card-text">Region : {{data.region}}</p>
                    <p class="card-text">Capital : {{data.capital}}</p>

                </div>
            </div>
        </div>
    </div>

</div>