<div class=" p-5">
    <div class="d-flex justify-content-between list-mobile">
        <div class="d-flex bg-white p-2 shadow">
            <label for="search"> <span class="bi bi-search fs-4"></span> </label>
            <input type="text" class="form-control border-0 shadow-none " id="search" placeholder="search"
                aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="searchData">
        </div>
        <div class="mt-2">
            <select class="form-select form-select-lg bg-white border-0 shadow" (change)="getRegion($event)">
                <option>Filter By Region</option>
                <option *ngFor="let data of region">{{data}}</option>
            </select>
        </div>
    </div>
    <!-- show data in card veiw -->
    <div class="container"  infinite-scroll [infiniteScrollDistance]="distance" [infiniteScrollThrottle]="0" [scrollWindow]="false" (scrolled)="onScrollList()">
        <div class="row ">
            <div class=" mt-5 col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 "
                *ngFor="let data of countryListData | search : searchData  ">
                <div class=" card shadow">
                    <figure class="card-img">
                        <img [src]="data.flags.png" alt="flag">
                    </figure>
                    <div class="card-body">
                        <h5 class="card-title">
                            <span>{{data.name.common}}</span>
                        </h5>
                        <div class="card-text"><span>Population :</span> <span>{{data.population}}</span></div>
                        <div class="card-text"><span>Region : </span><span>{{data.region}}</span></div>
                        <div class="card-text"><span>Capital : </span><span>{{data.capital}}</span></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>